<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hqb.mapper.AccountMapper">

    <select id="getBalanceByUserid" resultType="Double" parameterType="int">
        select balance from user where userid=#{userid}
    </select>
    <select id="getIncomeByUserid" resultType="Double" parameterType="int">
        select sum(timelimit*rate*money/100)  income from success where pid=#{userid}
    </select>
    <select id="getDeptByUserid" resultType="Double" parameterType="int">
        select sum(timelimit*rate*money/100+money)  dept from success where nid=#{userid}
    </select>
    <select id="getProvideOrderByUserid" resultType="java.util.HashMap" parameterType="int">
        select starttime,username,bankcard, money,rate/100,money*rate*timelimit/100 interest,nid,pid
        from success join user on  user.userid=success.nid
        where pid=#{userid}
        order by starttime
    </select>

    <select id="getNeedOrderByUserid" resultType="java.util.HashMap" parameterType="int">
        select starttime,username,bankcard, money,rate/100,money*rate*timelimit/100 interest,nid,pid
        from success join user on user.userid=success.pid
        where nid=#{userid}
        order by starttime
    </select>





    <select id="getTradepartnerByUserid" resultType="java.util.HashMap" parameterType="int">
        select username, tcontract from user where userid=#{userid}
    </select>







</mapper>