<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hqb.mapper.AdminMapper">

    <select id="getAdminByAdminName" resultType="Admin" parameterType="string">
        select * from admin where adminname=#{adminname}
    </select>


    <select id="getMinRateOne" resultType="double">
        select ratemin from admin where adminid=1
    </select>

    <select id="getMaxRateOne" resultType="double">
        select rateMax from admin where adminid=1
    </select>

    <select id="getMinRateTwo" resultType="double">
        select ratemin from admin where adminid=2
    </select>

    <select id="getMaxRateTwo" resultType="double">
        select rateMax from admin where adminid=2
    </select>

    <update id="updateRateOneRapid" parameterType="double">
        update admin set ratemin=#{rateMin},ratemax=#{rateMax} where adminid=1
    </update>

    <select id="getSuccessRecord" resultType="java.util.HashMap">
        select successid,nid,pid,rate,timelimit,starttime,endtime,money,servicefee,status from success order by starttime
    </select>

    <select id="getSumNeed" resultType="Double">
         SELECT sum(goalmoney)-sum(nowmoney) FROM need
         WHERE DATEDIFF(starttime,NOW())=0 and status=0
    </select>

    <select id="getSumProvide" resultType="Double">
         SELECT sum(goalmoney)-sum(nowmoney) FROM provide
         WHERE DATEDIFF(starttime,NOW())=0 and status=0
    </select>

    <select id="getSumNeedOfBank" resultType="Double">
         SELECT goalmoney-nowmoney FROM need
         WHERE DATEDIFF(starttime,NOW())=0 and status=0 and userid=1
    </select>

    <select id="getSumProvideOfBank" resultType="Double">
         SELECT goalmoney-nowmoney FROM provide
         WHERE DATEDIFF(starttime,NOW())=0 and status=0 and userid=1
    </select>



    <select id="getAvgRateNeed" resultType="Double">
        select avg(rate) from need where DATEDIFF(starttime,NOW())=0 and status=0
    </select>

    <select id="getAvgRateProvide" resultType="Double">
        select avg(rate) from provide where DATEDIFF(starttime,NOW())=0 and status=0
    </select>
</mapper>