<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hqb.mapper.MyMapper">


    <select id="getMyByUserid" resultType="java.util.HashMap" parameterType="int">
  select username, bankcard, tcontract,balance,sum(money*rate*timelimit+money) money
  from user left join success on userid=nid
  where userid=#{userid}
    </select>

    <select id="getUserByUerid" parameterType="int" resultType="User">
        select * from user where userid = #{userid}
    </select>
    
    <insert id="addNewTransfer" parameterType="java.util.HashMap" keyColumn="transferid" useGeneratedKeys="true">
        insert into transfertable (losename,loseid,getname,getid,transfermoney,transfertime)
        values (#{losename},#{loseid},#{getname},#{getid},#{transfermoney},#{transfertime})
    </insert>

    <update id="setBalance" parameterType="java.util.HashMap">
        update user set balance = #{balance} where userid = #{userid}
    </update>








</mapper>