<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hqb.mapper.NeedMapper">

    <insert id="setNewNeed" parameterType="map" useGeneratedKeys="true" keyColumn="needid">
        insert into need(userid,rate,timelimit,goalmoney,nowmoney,status) values(#{userid},#{rate},#{timelimit},#{goalmoney},0,0)
    </insert>

    <update id="updateOldNeed" parameterType="int">
        update need set status=1 where userid=#{userid}
    </update>

    <select id="getTimeRateMatchList" parameterType="java.util.Map" resultType="java.util.HashMap">
        select provide.provideid as provideid,user.userid as userid,user.username as username,provide.goalmoney-provide.nowmoney as money,provide.rate as rate,provide.timelimit as timelimit
        from provide,user
        where user.userid=provide.userid and provide.userid &lt;&gt; ${userid} and provide.timelimit=${timelimit} and provide.status=0 and provide.rate=${rate} and user.tcontract=0
    </select>

    <select id="getTimeMatchList" parameterType="java.util.Map" resultType="java.util.HashMap">
        select provide.provideid as provideid,user.userid as userid,user.username as username,provide.goalmoney-provide.nowmoney as money,provide.rate as rate,provide.timelimit as timelimit
        from provide,user
        where user.userid=provide.userid and provide.userid &lt;&gt; ${userid} and provide.timelimit=${timelimit} and provide.status=0 and provide.rate &lt;&gt; ${rate} and user.tcontract=0
    </select>

    <select id="getRateMatchList" parameterType="java.util.Map" resultType="java.util.HashMap">
        select provide.provideid as provideid,user.userid as userid,user.username as username,provide.goalmoney-provide.nowmoney as money,provide.rate as rate,provide.timelimit as timelimit
        from provide,user
        where user.userid=provide.userid and provide.userid &lt;&gt; ${userid} and provide.timelimit &lt;&gt; ${timelimit} and provide.status=0 and provide.rate = ${rate} and user.tcontract=0
    </select>

    <select id="getMoneyByUserid" parameterType="int" resultType="double">
        select need.goalmoney-need.nowmoney from need where need.userid = ${userid} and need.status = 0
    </select>

    <select id="getNeedByNeedid" parameterType="int" resultType="com.hqb.pojo.Need">
        select * from need where needid = ${needid}
    </select>

    <select id="getNeedByUserid" parameterType="int" resultType="com.hqb.pojo.Need">
        select * from need where userid=${userid} and status=0
    </select>

    <insert id="addSuccess" parameterType="java.util.Map" useGeneratedKeys="true" keyColumn="successid">
        insert into success(needid,provideid,nid,pid,rate,timelimit,starttime,endtime,money,nservicefee,pservicefee)
        values(#{needid},#{provideid},#{nid},#{pid},#{rate},#{timelimit},#{starttime},#{endtime},#{money},#{nservicefee},#{pservicefee})
    </insert>

    <update id="updateNowMoney" parameterType="java.util.Map">
        update need set nowmoney=#{nowmoney} where needid=#{needid}
    </update>

    <update id="updateNeed" parameterType="int">
        update need set status=1 where needid=#{needid}
    </update>
</mapper>